venv/
venv
__pycache__
__pycache__/
*.pyc
.DS_Store
.DS_Store/
dump.rdb
work.py/
tt.txt
.env
.env/
old
old/
transcripts/
session
.idea/
.vscode/
chrome-data
logs/
hash
document
html_page
*.pdf
screenshots/
chroma_db_vector/